 .dark-maroon-bg { background-color: #6C0000; }
        .maroon-text { color: #800000; }
        .border-maroon { border-color: #800000; }
        .dark-green-bg { background-color: #006C00; }
        .green-text { color: #008000; }
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f7f7f7; 
        }
        .custom-scrollbar::-webkit-scrollbar { width: 6px; }
        .custom-scrollbar::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.3); border-radius: 3px; }
        .custom-scrollbar::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.1); }
        .btn-primary {
            @apply dark-green-bg text-white hover:bg-[#008000] transition duration-150 ease-in-out py-3 px-6 rounded-xl shadow-lg focus:outline-none focus:ring-4 focus:ring-green-300;
        }
        .menu-item-card {
            @apply bg-white p-4 rounded-xl shadow-xl hover:shadow-2xl transition transform hover:scale-[1.01] cursor-pointer border-l-4 border-red-500 hover:border-red-700;
        }
        .info-card {
             @apply bg-white p-6 rounded-xl shadow-xl border-t-4 border-red-400;
        }
        .btn-secondary {
            @apply text-red-600 border border-red-300 bg-white hover:bg-red-50 rounded-xl py-3 transition duration-150 disabled:opacity-50;
        }